**/__pycache__
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vscode
**/*.*proj.user
**/docker-compose*
**/Dockerfile*
README.md
**/tests
.graphqlconfig.yml
**/dist
.gitlab-ci.yml
.pre-commit-config.yaml
.vim
*.sqlite3