# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
gestao/migrations/**

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*
staticfiles/.editorconfig
staticfiles/admin/css/autocomplete.css
staticfiles/admin/css/base.css
staticfiles/admin/css/changelists.css
staticfiles/admin/css/dashboard.css
staticfiles/admin/css/fonts.css
staticfiles/admin/css/forms.css
staticfiles/admin/css/login.css
staticfiles/admin/css/nav_sidebar.css
staticfiles/admin/css/responsive_rtl.css
staticfiles/admin/css/responsive.css
staticfiles/admin/css/rtl.css
staticfiles/admin/css/widgets.css
staticfiles/admin/css/vendor/select2/LICENSE-SELECT2.md
staticfiles/admin/css/vendor/select2/select2.css
staticfiles/admin/css/vendor/select2/select2.min.css
staticfiles/admin/fonts/LICENSE.txt
staticfiles/admin/fonts/README.txt
staticfiles/admin/fonts/Roboto-Bold-webfont.woff
staticfiles/admin/fonts/Roboto-Light-webfont.woff
staticfiles/admin/fonts/Roboto-Regular-webfont.woff
staticfiles/admin/img/calendar-icons.svg
staticfiles/admin/img/icon-addlink.svg
staticfiles/admin/img/icon-alert.svg
staticfiles/admin/img/icon-calendar.svg
staticfiles/admin/img/icon-changelink.svg
staticfiles/admin/img/icon-clock.svg
staticfiles/admin/img/icon-deletelink.svg
staticfiles/admin/img/icon-no.svg
staticfiles/admin/img/icon-unknown-alt.svg
staticfiles/admin/img/icon-unknown.svg
staticfiles/admin/img/icon-viewlink.svg
staticfiles/admin/img/icon-yes.svg
staticfiles/admin/img/inline-delete.svg
staticfiles/admin/img/LICENSE
staticfiles/admin/img/README.txt
staticfiles/admin/img/search.svg
staticfiles/admin/img/selector-icons.svg
staticfiles/admin/img/sorting-icons.svg
staticfiles/admin/img/tooltag-add.svg
staticfiles/admin/img/tooltag-arrowright.svg
staticfiles/admin/img/gis/move_vertex_off.svg
staticfiles/admin/img/gis/move_vertex_on.svg
staticfiles/admin/js/actions.js
staticfiles/admin/js/actions.min.js
staticfiles/admin/js/autocomplete.js
staticfiles/admin/js/calendar.js
staticfiles/admin/js/cancel.js
staticfiles/admin/js/change_form.js
staticfiles/admin/js/collapse.js
staticfiles/admin/js/collapse.min.js
staticfiles/admin/js/core.js
staticfiles/admin/js/inlines.js
staticfiles/admin/js/inlines.min.js
staticfiles/admin/js/jquery.init.js
staticfiles/admin/js/nav_sidebar.js
staticfiles/admin/js/popup_response.js
staticfiles/admin/js/prepopulate_init.js
staticfiles/admin/js/prepopulate.js
staticfiles/admin/js/prepopulate.min.js
staticfiles/admin/js/SelectBox.js
staticfiles/admin/js/SelectFilter2.js
staticfiles/admin/js/urlify.js
staticfiles/admin/js/admin/DateTimeShortcuts.js
staticfiles/admin/js/admin/RelatedObjectLookups.js
staticfiles/admin/js/vendor/jquery/jquery.js
staticfiles/admin/js/vendor/jquery/jquery.min.js
staticfiles/admin/js/vendor/jquery/LICENSE.txt
staticfiles/admin/js/vendor/select2/LICENSE.md
staticfiles/admin/js/vendor/select2/select2.full.js
staticfiles/admin/js/vendor/select2/select2.full.min.js
staticfiles/admin/js/vendor/select2/i18n/af.js
staticfiles/admin/js/vendor/select2/i18n/ar.js
staticfiles/admin/js/vendor/select2/i18n/az.js
staticfiles/admin/js/vendor/select2/i18n/bg.js
staticfiles/admin/js/vendor/select2/i18n/bn.js
staticfiles/admin/js/vendor/select2/i18n/bs.js
staticfiles/admin/js/vendor/select2/i18n/ca.js
staticfiles/admin/js/vendor/select2/i18n/cs.js
staticfiles/admin/js/vendor/select2/i18n/da.js
staticfiles/admin/js/vendor/select2/i18n/de.js
staticfiles/admin/js/vendor/select2/i18n/dsb.js
staticfiles/admin/js/vendor/select2/i18n/el.js
staticfiles/admin/js/vendor/select2/i18n/en.js
staticfiles/admin/js/vendor/select2/i18n/es.js
staticfiles/admin/js/vendor/select2/i18n/et.js
staticfiles/admin/js/vendor/select2/i18n/eu.js
staticfiles/admin/js/vendor/select2/i18n/fa.js
staticfiles/admin/js/vendor/select2/i18n/fi.js
staticfiles/admin/js/vendor/select2/i18n/fr.js
staticfiles/admin/js/vendor/select2/i18n/gl.js
staticfiles/admin/js/vendor/select2/i18n/he.js
staticfiles/admin/js/vendor/select2/i18n/hi.js
staticfiles/admin/js/vendor/select2/i18n/hr.js
staticfiles/admin/js/vendor/select2/i18n/hsb.js
staticfiles/admin/js/vendor/select2/i18n/hu.js
staticfiles/admin/js/vendor/select2/i18n/hy.js
staticfiles/admin/js/vendor/select2/i18n/id.js
staticfiles/admin/js/vendor/select2/i18n/is.js
staticfiles/admin/js/vendor/select2/i18n/it.js
staticfiles/admin/js/vendor/select2/i18n/ja.js
staticfiles/admin/js/vendor/select2/i18n/ka.js
staticfiles/admin/js/vendor/select2/i18n/km.js
staticfiles/admin/js/vendor/select2/i18n/ko.js
staticfiles/admin/js/vendor/select2/i18n/lt.js
staticfiles/admin/js/vendor/select2/i18n/lv.js
staticfiles/admin/js/vendor/select2/i18n/mk.js
staticfiles/admin/js/vendor/select2/i18n/ms.js
staticfiles/admin/js/vendor/select2/i18n/nb.js
staticfiles/admin/js/vendor/select2/i18n/ne.js
staticfiles/admin/js/vendor/select2/i18n/nl.js
staticfiles/admin/js/vendor/select2/i18n/pl.js
staticfiles/admin/js/vendor/select2/i18n/ps.js
staticfiles/admin/js/vendor/select2/i18n/pt-BR.js
staticfiles/admin/js/vendor/select2/i18n/pt.js
staticfiles/admin/js/vendor/select2/i18n/ro.js
staticfiles/admin/js/vendor/select2/i18n/ru.js
staticfiles/admin/js/vendor/select2/i18n/sk.js
staticfiles/admin/js/vendor/select2/i18n/sl.js
staticfiles/admin/js/vendor/select2/i18n/sq.js
staticfiles/admin/js/vendor/select2/i18n/sr-Cyrl.js
staticfiles/admin/js/vendor/select2/i18n/sr.js
staticfiles/admin/js/vendor/select2/i18n/sv.js
staticfiles/admin/js/vendor/select2/i18n/th.js
staticfiles/admin/js/vendor/select2/i18n/tk.js
staticfiles/admin/js/vendor/select2/i18n/tr.js
staticfiles/admin/js/vendor/select2/i18n/uk.js
staticfiles/admin/js/vendor/select2/i18n/vi.js
staticfiles/admin/js/vendor/select2/i18n/zh-CN.js
staticfiles/admin/js/vendor/select2/i18n/zh-TW.js
staticfiles/admin/js/vendor/xregexp/LICENSE.txt
staticfiles/admin/js/vendor/xregexp/xregexp.js
staticfiles/admin/js/vendor/xregexp/xregexp.min.js
staticfiles/adminlte/css/adminlte.css
staticfiles/adminlte/css/adminlte.css.map
staticfiles/adminlte/css/adminlte.min.css
staticfiles/adminlte/css/adminlte.min.css.map
staticfiles/adminlte/img/AdminLTELogo.png
staticfiles/adminlte/img/boxed-bg.jpg
staticfiles/adminlte/img/boxed-bg.png
staticfiles/adminlte/img/icons.png
staticfiles/adminlte/img/user2-160x160.jpg
staticfiles/adminlte/js/adminlte.js
staticfiles/adminlte/js/adminlte.min.js
staticfiles/adminlte/plugins/bootstrap/js/bootstrap.bundle.js
staticfiles/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js
staticfiles/adminlte/plugins/fontawesome-free/css/all.css
staticfiles/adminlte/plugins/fontawesome-free/css/all.min.css
staticfiles/adminlte/plugins/fontawesome-free/css/brands.css
staticfiles/adminlte/plugins/fontawesome-free/css/brands.min.css
staticfiles/adminlte/plugins/fontawesome-free/css/fontawesome.css
staticfiles/adminlte/plugins/fontawesome-free/css/fontawesome.min.css
staticfiles/adminlte/plugins/fontawesome-free/css/regular.css
staticfiles/adminlte/plugins/fontawesome-free/css/regular.min.css
staticfiles/adminlte/plugins/fontawesome-free/css/solid.css
staticfiles/adminlte/plugins/fontawesome-free/css/solid.min.css
staticfiles/adminlte/plugins/fontawesome-free/css/svg-with-js.css
staticfiles/adminlte/plugins/fontawesome-free/css/svg-with-js.min.css
staticfiles/adminlte/plugins/fontawesome-free/css/v4-shims.css
staticfiles/adminlte/plugins/fontawesome-free/css/v4-shims.min.css
staticfiles/adminlte/plugins/fontawesome-free/webfonts/fa-brands-400.eot
staticfiles/adminlte/plugins/fontawesome-free/webfonts/fa-brands-400.svg
staticfiles/adminlte/plugins/fontawesome-free/webfonts/fa-brands-400.ttf
staticfiles/adminlte/plugins/fontawesome-free/webfonts/fa-brands-400.woff
staticfiles/adminlte/plugins/fontawesome-free/webfonts/fa-brands-400.woff2
staticfiles/adminlte/plugins/fontawesome-free/webfonts/fa-regular-400.eot
staticfiles/adminlte/plugins/fontawesome-free/webfonts/fa-regular-400.svg
staticfiles/adminlte/plugins/fontawesome-free/webfonts/fa-regular-400.ttf
staticfiles/adminlte/plugins/fontawesome-free/webfonts/fa-regular-400.woff
staticfiles/adminlte/plugins/fontawesome-free/webfonts/fa-regular-400.woff2
staticfiles/adminlte/plugins/fontawesome-free/webfonts/fa-solid-900.eot
staticfiles/adminlte/plugins/fontawesome-free/webfonts/fa-solid-900.svg
staticfiles/adminlte/plugins/fontawesome-free/webfonts/fa-solid-900.ttf
staticfiles/adminlte/plugins/fontawesome-free/webfonts/fa-solid-900.woff
staticfiles/adminlte/plugins/fontawesome-free/webfonts/fa-solid-900.woff2
staticfiles/adminlte/plugins/jquery/jquery.js
staticfiles/adminlte/plugins/jquery/jquery.min.js
staticfiles/adminlte/plugins/select2/css/select2.css
staticfiles/adminlte/plugins/select2/css/select2.min.css
staticfiles/adminlte/plugins/select2/js/select2.js
staticfiles/adminlte/plugins/select2/js/select2.min.js
staticfiles/jazzmin/css/django.css
staticfiles/jazzmin/img/calendar-icons.svg
staticfiles/jazzmin/img/default-log.svg
staticfiles/jazzmin/img/default.jpg
staticfiles/jazzmin/img/icon-calendar.svg
staticfiles/jazzmin/img/icon-changelink.svg
staticfiles/jazzmin/img/selector-icons.svg
staticfiles/jazzmin/js/change_form.js
staticfiles/jazzmin/js/change_list.js
staticfiles/jazzmin/js/main.js
staticfiles/jazzmin/js/ui-builder.js
