<div class="card card-primary" style="width:100%;height:400px;">
  <div style="width:98%;height:98%;" id="{{ plot_id }}"></div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
div = document.getElementById("{{ plot_id }}");
traces = {{ plot_data|safe }}
layout = {
  font:{
    family: "Source Sans Pro, sans-serif",
    size: 14
  },
  xaxis: {
    title: "{{ xaxis_title|safe }}"
  },
  yaxis: {
    title: "{{ yaxis_title|safe }}"
  },
  margin: { t: 40 }
}
options = {
  responsive: true,
  modeBarButtonsToRemove: [
  "zoom2d",
  "select2d",
  "lasso2d",
  "autoScale2d","toggleSpikelines",
  "hoverClosestCartesian"
  ]
}
Plotly.newPlot(div, traces,layout, options);
</script>